<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
  <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
</configSections>

<!-- PayPal SDK settings -->
<paypal>
  <settings>
    <add name="mode" value="sandbox" />
    <add name="clientId" value="AciSSJEvecN2ttDZ6NyyJSAwMffF67NWc8AAh3kbCE7_JksBE8TXpXBe3asuuYzYrlU9qcvAy33x-YXq" />
    <add name="clientSecret" value="ECCBoR_-3z1llBsOYJXHQ6c7bTMo0LdaF6QiSmDYZf2SGHWng0BZdU_JsdspDG4Mx1YQjSl05G4Opjfx" />
  </settings>
</paypal>
</configuration>