@{
    ViewData["Title"] = "Paypal Issue";
}
<h2>@ViewData["Title"]</h2>
<img src="~/images/Order/issue.jpg" />
<h3>@ViewData["Message"]</h3>

<form name="confirm" asp-area="" asp-controller="Home" asp-action="Index" method="post">
    <button id="button" type="submit" class="btn btn-primary">Return Back</button>
</form>